a {
  color: black !important;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

nav ul a {
  padding: 0 8px;
}

.brand-logo-ig {
  font-family: 'Grand Hotel', cursive;
  padding-left: 10px !important;
  font-size: 3rem;
}

.insta-title-login {
  font-family: 'Grand Hotel', cursive;
}

.mycard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 450px;
  margin: 10px auto;
}

.input-field input[type=text]:focus, input[type=password]:focus {
  border-bottom: 1px solid #448aff !important;
  box-shadow: 0 1px 0 0 #448aff !important;
}

.title-action {
  font-size: 15px;
}

.title-action a:hover {
  color: #448aff !important;
}

.profile-wrapper {
  max-width: 1000px;
  margin: 0px auto;
}

.img-person { 
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: 1px solid grey;
}

.person-info-1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery img {
  width: 30%;
  margin: 10px 0;
  /* height: auto; */
}

.home-card {
  max-width: 600px;
  height: max-content;
  margin: 26px auto;
}

.home-card h5 {
  margin-left: 15px;
}

.likes {
  display: flex;
}

.likes i {
  cursor: pointer;
}

.like-unlike {
  color: red;
}

.post {
  margin: 30px auto;
  max-width: 500px;
  padding: 15px;
  text-align: center;
}
